<div ng-controller="AlertsController as alertsCtrl" class="container">
    <div class="title-container alerts" style="margin-bottom:15px">
        <i class="fa fa-bullhorn fa-3x"></i><span class="title-text">Alerts</span>
    </div>
	<div class="panel-group" ng-show="leads.length">
		<div class="panel panel-default" ng-repeat="lead in leads" ng-init="tabs[lead.id] = false">
			<div class="panel-heading accordion-toggle" ng-click="toggleOpen(lead.id)">
			</div>
			<div class="panel-collapse" collapse="!tabs[lead.id]">
			</div>
		</div>
	</div>
</div>