<section class="section container-fluid home-container">
	<div class="bs-panel home-container-panel">
	<div class="row home-row">
		<div class="col-xs-6 home-col">
			<a ng-click="showAlerts()">
				<i class="fa fa-bullhorn fa-5x"></i>
				<span>Alerts</span>
			</a>
		</div>
		<div class="col-xs-6 home-col">
			<a ng-click="showLeads()">
				<i class="fa fa-users fa-5x"></i>
				<span>Leads</span>
			</a>
		</div>
	</div>
	<div class="row home-row">
		<div class="col-xs-6 home-col">
			<a ng-click="showStats()">
				<i class="fa fa-pie-chart fa-5x"></i>
				<span>Stats</span>
			</a>
		</div>
		<div class="col-xs-6 home-col">
			<a ng-click="showUpload()">
				<i class="fa fa-cloud-upload fa-5x"></i>
				<span>Upload</span>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 home-col">
			<a ng-click="showSettings()">
				<i class="fa fa-cogs fa-5x"></i>
				<span>Settings</span>
			</a>
		</div>
		<div class="col-xs-6 home-col">
			<a ng-click="showCalendar()">
				<i class="fa fa-calendar fa-5x"></i>
				<span>Calendar</span>
			</a>
		</div>
	</div>
	</div>
</section>
