<!-- <section class="section container-fluid">
  <div bs-panel title="{{location}}">
    {{location}} : {{weather}}
  </div>
</section> -->
<style type="text/css">
	i {
		color:#007aff;
		font-size:120px;
	}

</style>
<section class="section container-fluid" style="height:100%;">
	<div class="bs-panel" style="margin-top:70px;">
	<div class="row" style="margin-bottom:100px">
		<div class="col-xs-6" style="text-align:center"><i class="fa fa-bullhorn fa-5x"></i></div>
		<div class="col-xs-6" style="text-align:center"><i class="fa fa-tasks fa-5x"></i></div>
	</div>
	<div class="row" style="margin-bottom:100px;">
		<div class="col-xs-6" style="text-align:center"><i class="fa fa-pie-chart fa-5x"></i></i></div>
		<div class="col-xs-6" style="text-align:center"><i class="fa fa-upload fa-5x"></i></div>		
	</div>
	<div class="row">
		<div class="col-xs-6" style="text-align:center"><i class="fa fa-cogs fa-5x"></i></div>
		<div class="col-xs-6" style="text-align:center"><i class="fa fa-calendar fa-5x"></i></div>		
	</div>
	</div>
</section>
