<section class="section container-fluid home-container">
	<div class="bs-panel home-container-panel">
		<div class="row home-row">
			<div class="col-xs-6 col-ms-4 col-md-4 col-sm-4 col-lg-4 col-xl-3 home-col alerts">
				<a ng-click="showAlerts()">
					<i class="fa fa-bullhorn fa-5x landing-icon"></i>
					<span class="landing-icon-text">Alerts</span>
				</a>
			</div>
			<div class="col-xs-6 col-ms-4 col-md-4 col-sm-4 col-lg-4 col-xl-3 home-col calendar">
				<a ng-click="showCalendar()">
					<i class="fa fa-calendar fa-5x landing-icon"></i>
					<span class="landing-icon-text">Calendar</span>
				</a>
			</div>
			<div class="col-xs-6 col-ms-4 col-md-4 col-sm-4 col-lg-4 col-xl-3 home-col leads">
				<a ng-click="showLeads()">
					<i class="fa fa-users fa-5x landing-icon"></i>
					<span class="landing-icon-text">Leads</span>
				</a>
			</div>
			<div class="col-xs-6 col-ms-4 col-md-4 col-sm-4 col-lg-4 col-xl-3 home-col performance">
				<a ng-click="showPerformance()">
					<i class="fa fa-pie-chart fa-5x landing-icon"></i>
					<span class="landing-icon-text">Performance</span>
				</a>
			</div>
			<div class="col-xs-6 col-ms-4 col-md-4 col-sm-4 col-lg-4 col-xl-3 home-col settings">
				<a ng-click="showSettings()">
					<i class="fa fa-cogs fa-5x landing-icon"></i>
					<span class="landing-icon-text">Settings</span>
				</a>
			</div>
			<div class="col-xs-6 col-ms-4 col-md-4 col-sm-4 col-lg-4 col-xl-3 home-col upload">
				<a ng-click="showUpload()">
					<i class="fa fa-cloud-upload fa-5x landing-icon"></i>
					<span class="landing-icon-text">Upload</span>
				</a>
			</div>
		</div>
	</div>
</section>