<div ng-controller="PerformanceController as performanceCtrl" class="container">
    <div class="title-container performance">
        <i class="fa fa-pie-chart fa-3x"></i><span class="title-text">Performance</span>
    </div>

    <div class="page-content">
      <div class="chart-container">
        <ul rn-carousel class="image" toggle-class-target="full-screen-chart">
<!--           <li ng-repeat="(i,chart) in performanceCtrl.charts">
            <div id="chart-{{i+1}}" class="ct-chart"></div>
            <i toggle-class="full-screen-chart fa-expand fa-compress" class="fa fa-expand fa-2" re-draw></i>
          </li> -->
          <li>
            <div id="chart-1" class="ct-chart"></div>
            <i toggle-class="full-screen-chart fa-expand fa-compress" class="fa fa-expand fa-2" re-draw></i>
          </li>
        </ul>
      </div>
    </div>

</div>