<div ng-controller="PerformanceController as performanceCtrl" class="container">
    <div class="title-container performance">
        <i class="fa fa-pie-chart fa-3x"></i><span class="title-text">Performance</span>
    </div>

    <div class="page-content">
        <ul rn-carousel class="image">
          <li><div id="chart-1" class="ct-chart"></div></li>
          <li><div id="chart-2" class="ct-chart"></div></li>
          <li><div id="chart-3" class="ct-chart"></div></li>
          <li><div id="chart-4" class="ct-chart"></div></li>
        </ul>
    </div>

</div>