<div class="scrollable">
  <div class="home-icon-container">
    <a ng-click="showHome()">
      <div class="home-icon-sub-container">
        <i class="fa fa-home fa-4x home-icon"></i>
        <div class="home-icon-text">Home</div>
      </div>
    </a>
  </div>
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
      <a class="list-group-item alerts" ng-click="showAlerts()">
        <i class="fa fa-bullhorn nav-icon"></i>  Alerts <i class="fa fa-chevron-right pull-right"></i>
          </a>
      <a class="list-group-item calendar" ng-click="showCalendar()">
        <i class="fa fa-calendar nav-icon"></i>  Calender <i class="fa fa-chevron-right pull-right"></i>
          </a>
      <a class="list-group-item leads" ng-click="showLeads()">
        <i class="fa fa-users nav-icon"></i>  Leads <i class="fa fa-chevron-right pull-right"></i>
          </a>
      <a class="list-group-item performance" ng-click="showPerformance()">
        <i class="fa fa-pie-chart nav-icon"></i>  Performance <i class="fa fa-chevron-right pull-right"></i>
          </a>
      <a class="list-group-item settings" ng-click="showSettings()">
        <i class="fa fa-cogs nav-icon"></i>  Settings <i class="fa fa-chevron-right pull-right"></i>
          </a>
      <a class="list-group-item upload" ng-click="showUpload()">
        <i class="fa fa-cloud-upload nav-icon"></i>  Upload a Lead <i class="fa fa-chevron-right pull-right"></i>
          </a>
    </div>
  </div>
</div>