<div ng-controller="UploadController as uploadCtrl" class="container">
    <div class="title-container">
        <i class="fa fa-user fa-3x title-icon"></i><span class="title-text">Upload a Lead</span>
    </div>
    <div ng-class="response.status ? 'alert alert-success' : 'alert alert-warning'" ng-show="response.message.length">{{response.message}}</div>
    <form ng-submit="uploadLead(uploadLeadForm.$valid)" name="uploadLeadForm" novalidate>
        <div class="form-group">
            <label for="input-first-name">First Name</label>
            <input type="text" name="firstName" class="form-control" id="input-first-name" placeholder="First Name" ng-model="lead.first_name" required>
            <div ng-show="uploadLeadForm.firstName.$invalid && submitted" class="alert alert-danger form-alert">
                <i class="fa fa-exclamation-triangle error-icon"></i>Oops! Forgot the lead's first name!
            </div>
        </div>
        <div class="form-group">
            <label for="input-last-name">Last Name</label>
            <input type="text" name="lastName" class="form-control" id="input-last-name" placeholder="Last Name" ng-model="lead.last_name" required>
            <div ng-show="uploadLeadForm.lastName.$invalid && submitted" class="alert alert-danger form-alert">
                <i class="fa fa-exclamation-triangle error-icon"></i>Oops! Forgot the lead's last name
            </div>            
        </div>
        <div class="form-group">
            <label for="input-email">Email</label>
            <input type="email" name="email" class="form-control" id="input-email" placeholder="Email" ng-model="lead.email" required>
            <div ng-show="uploadLeadForm.email.$invalid && submitted" class="alert alert-danger form-alert">
                <i class="fa fa-exclamation-triangle error-icon"></i>Oope! Forgot the lead's email!
            </div>            
        </div>
        <div class="form-group">
            <label for="input-email">Phone</label>
            <input type="text" class="form-control" id="input-phone" placeholder="Phone" ng-model="lead.phone">         
        </div>
        <div class="form-group">
            <label for="input-campaign">Messaging Campaign</label>
            <select
            name="messagingCampaign"
            class="form-control"
            ng-model="lead.messaging_campaign"
            ng-options="campaign as campaign.name for campaign in messaging_campaigns" required>
                <option value="">Select One</option>
            </select>
            <div ng-show="uploadLeadForm.messagingCampaign.$error.required && submitted" class="alert alert-danger form-alert">
                <i class="fa fa-exclamation-triangle error-icon"></i>Oops! Forgot the lead's campaign!
            </div>              
        </div>
        <button type="submit" class="btn btn-primary submit-btn"><i class="fa fa-upload" style="margin-right:5px;"></i>Upload</button>
    </form>
</div>