.search-input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width:100%;
    padding-left:35px;
}

.search-input-icon {
    position: absolute;
    top:2px;
    left:19px;
    color: #3498db;
}
.search-container-col {
    position:relative;
}
.search-container-row {
    margin-bottom:10px;
}
dd {
    margin-left: 10px;
}
.lead-item-icon {
    margin-right:5px;
}

/*turn off transition animation*/
.leads-container .collapsing {
    -webkit-transition: none;
    transition: none;
}

.leads-container .calendar-button
{
    position: absolute;
    top: 15px;
    right: 10px;
    padding: 3px 9px;
}