/* style included on all pages */
.main-img {
    width:115px;
    margin-right:15px;
    margin-top:8px;
}
.main-container {
    background-color: white;
}
.app-nav {
	border-color: #ccc;
	background: #ccc;
	border-bottom: 1px solid #aaa;
}