/* partial css for performance page */

.page-content > ul[rn-carousel] {
    overflow: inherit;
    width: 100%;
}

.chart-container {
    /*height: 40%;*/
}

.image {
    height: 300px;
}
.image * {
    height: 300px;
}