.home-icon-container {
    background-color:white;
    border-bottom: 1px solid #ddd;
}
.home-icon-sub-container {
    width:100%;
    padding:10px;
    color: #555;
}
.home-icon-text {
    font-size:30px;
    text-decoration:none;
    display:inline-block;
    vertical-align:text-bottom;
}
.nav-icon {
    margin-right: 10px;
}
.home-icon {
	color:#555;
}